<div class="container "  *ngIf="questionData">



    <div class="card" style="width: 40rem;">
        <div class="card-body">
          <h3 class="card-title">Question: </h3>
         
          <p class="card-text">Name:{{ questionData.label }} </p>
          <p class="card-text">Category:{{ questionData.category.name  }} </p>
          <p class="card-text">Is Correct:{{ questionData.responses.isCorrect }} </p>
          <p class="card-text">Response name:{{ questionData.responses.label }} </p>
          <p class="card-text">Difficulty:{{ questionData.difficulty  }} </p>
          <a routerLink="/question/index" class="btn btn-primary">Back</a>
        
        </div>
      </div>

</div>
