/* You can add global styles to this file, and also import other style files */
body {
  background: #eef5f9 !important;
}

header div.d-flex.flex-column.flex-md-row.align-items-center.pb-3 mb-4 .pb-3 {
  padding-bottom: 0rem!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.py-3 {
  width: 800px;
  margin: auto;
}

.row {
  max-width: 800px;
  width: 800px;
  margin: auto;
}

tr {
  text-align: center;
  vertical-align: middle;

}

thead {
  background-color: #85bfe0;
}


.btn {
  width: 80px;
  height: 30px;
}

.mat-typography h3 {
  font-size: 20px;
  font-weight: 700;
}


/*  button correct styles*/

 .switch {
  position: relative;
  top: 80%;
  left: 65%;
  width: 130px;
  height: 40px;
  text-align: center;
  margin: -33px 0 0 -75px;
  background: #4cd964;
  transition: all .2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 80%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
  border-radius: 2px;
}

.switchinput[type=radio] {
  /*display: none; */
}

.switch label {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  width: 60px;
  line-height: 40px;
  margin-right: 30px;
  transition: all 0.2s ease;
}

input:checked + .switch {
  background: #4cd964;
}
/* incorrect */
.correct + .switch {
  background: #ff3b30;
}


 .switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
  border-radius: 2px;
}


/* incorrect */

 .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}





