<div class="question-create">
 <div class="d-flex flex-wrap justify-content-between">
   <div class="col-6">
     <h4>Create New Question </h4>

   </div>
   <div class="col-6">
     <a style="float: right" href="#" routerLink="/question/index" class="btn btn-primary">Back</a>
   </div>
 </div>


    <form class="d-flex flex-wrap justify-content-center" [formGroup]="questionForm" (ngSubmit)=" createQuestion()">

      <div class="row">
        <div class="col-12 justify-content-center"> <h4>Ajouter une question</h4> </div>
        <div class="col-12">
          <label>Libellé</label>
          <input type="text" formControlName="label" id="label" type="text" class="form-control">
          <!-- <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
              <div *ngIf="f.title.errors.required">Title is required.</div>
          </div> -->
        </div>

        <div class="col-12">
          <label for="body">Le thème</label>
          <input type="text" formControlName="categoryName" id="body" type="text" class="form-control">

          <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
              <div *ngIf="f.body.errors.required">Body is required.</div>
          </div> -->
        </div>



        <div class="col-12">
          <label for="body">Difficulté</label>
          <input type="text" formControlName="difficulty" id="difficulty" type="text" class="form-control">

          <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
              <div *ngIf="f.body.errors.required">Body is required.</div>
          </div> -->
        </div>

        <div class="col-12 mt-2">
          <input style="width:100%" class="btn btn-primary" type="submit" [disabled]="!questionForm.valid" value="Envoyer">
        </div>
      </div>



    </form>


  <form class="d-flex flex-wrap justify-content-center" style="display:none">
    <div class=" row">
      <div class="row justify-content-center">
        <p>La question concernée </p>
        <h4>Ajouter les réponses</h4>
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 1</label>
        </div>
        <div class="col-sm-8">
          <input type="text" formControlName="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="" style="padding-left: 5px">Correct</label>
        </div>

        <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Body is required.</div>
        </div> -->
      </div>

      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 2</label>
        </div>
        <div class="col-sm-8">
          <input type="text" formControlName="responseName" type="text" class="form-control">
        </div>
       <div class="col-sm">
         <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
         <label class="" style="padding-left: 5px">Correct</label>
       </div>

        <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Body is required.</div>
        </div> -->
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 3</label>
        </div>
        <div class="col-sm-8">
          <input type="text" formControlName="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
          <label class="" style="padding-left: 5px">Correct</label>
        </div>

        <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Body is required.</div>
        </div> -->
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 4</label>
        </div>
        <div class="col-sm-8">
          <input type="text" formControlName="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
          <label class="" style="padding-left: 5px">Correct</label>
        </div>

        <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Body is required.</div>
        </div> -->
      </div>
      <div class="row mt-2">
        <input style="width:100%" class="btn btn-primary" type="submit" [disabled]="!questionForm.valid" value="Envoyer">
      </div>
    </div>

  </form>

</div>
