<div class="question-create">
 <div class="d-flex flex-wrap justify-content-between m-3">
   <div class="col-6">
     <h4>Create New Question </h4>

   </div>
   <div class="col-6">
     <a style="float: right" href="#" routerLink="/question/index" class="btn btn-primary">Back</a>
   </div>
 </div>

  <div class="card m-3 p-3">
    <form class="d-flex flex-wrap justify-content-center" (ngSubmit)="createQuestion()">

      <div class="row">
        <div class="col-12 justify-content-center"> <h4>Ajouter une question</h4> </div>
        <div class="col-12">
          <label>Libellé</label>
          <input type="text" name="label" id="label" type="text" class="form-control" [(ngModel)]="questionDto.label">
        </div>

        <div class="col-12">
          <label>Le thème</label>
          <select class="form-select" aria-label="select le thème" name="categoryId" [(ngModel)]="questionDto.categoryId">
              <option value="JAVA" selected></option>
              <ng-container>
                <option *ngFor="let c of categories; let i = index" class="form-select" [value]="c.id">{{c.name}}</option>
            </ng-container>

          </select>
        </div>



        <div class="col-12">
          <label>Difficulté</label>
          <select ngModel class="form-select" aria-label="Choisir le niveau de difficulté" name="difficulty" [(ngModel)]="questionDto.difficulty">
              <option value="0" selected>Facile</option>
            <option value="1">Moyen</option>
            <option value="2">Difficile</option>
          </select>

          <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
              <div *ngIf="f.body.errors.required">Body is required.</div>
          </div> -->
        </div>

        <div class="col-12 mt-2">
          <input style="width:100%" class="btn btn-primary" type="submit" [disabled]="!questionDto" value="Envoyer">
        </div>
      </div>

    </form>
</div>


<div class="card m-3 p-3">

  <form class="d-flex flex-wrap justify-content-center" style="display:none;">
    <div class=" row">
      <div class="row justify-content-center">
        <p>La question concernée </p>
        <h4>Ajouter les réponses</h4>
      </div>
      <div class="row mb-3">

        <div class="col-sm">
          <label>Réponse 1</label>
        </div>
        <div class="col-md-8 mb-3">
          <input type="text" name="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <label> <input type="radio" (change)="responseStatus($event)" name="btn" checked></label>
        </div>

      </div>

      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 2</label>
        </div>
        <div class="col-md-8 mb-3">
          <input type="text" name="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <label> <input type="radio" (change)="responseStatus($event)" name="btn"></label>
        </div>

        <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Body is required.</div>
        </div> -->
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 3</label>
        </div>
        <div class="col-md-8 mb-3">
          <input type="text" name="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <label> <input type="radio" (change)="responseStatus($event)" name="btn"></label>
        </div>

        <!-- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Body is required.</div>
        </div> -->
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <label>Réponse 4</label>
        </div>
        <div class="col-md-8 mb-3">
          <input type="text" name="responseName" type="text" class="form-control">
        </div>
        <div class="col-sm">
          <label> <input type="radio" (change)="responseStatus($event)" name="btn"></label>
        </div>
      </div>
      <div class="row mb-4">
        <button class="btn btn-primary" style="height:auto;" type="submit" [disabled]="!questionDto" >Envoyer</button>
      </div>
    </div>

  </form>
</div>
</div>
