<div class="container">
    <div class="add">
        <button type="button" class="btn btn-success">Add new item</button>    
    </div>
    <div class="row row-cols-5">
      <div class="col">Id
        <div class="row">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
        </div>

      </div>
      <div class="col">Category Id
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>3</li>
      </div>
      <div class="col">Name
        <li>Name1</li>
        <li>Name2</li>
        <li>Name3</li>
        <li>Name4</li>
      </div>
      <div class="col">Difficulty
        <li>2</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </div>
      <div class="col">Action
          <div class="action">
            <button type="button" class="btn btn-info">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>

      </div>
    </div>
  </div>
