<header style="padding-left: 15px; padding-right: 10px; background: #85bfe0; margin: auto">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4">


    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="../assets/img/logo.png" width="44" height="36" class="me-1" role="img" [routerLink]="'/home'"/>
      <span class="fs-4 me-2">Console Admin </span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="'/home'">Accueil</a>
      <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="'/questions'">Questions</a>
      <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="'/users'">Users</a>
    </nav>
  </div>

</header>
