<div class="container" style="width: 800px; margin: auto;">
    <h3>Questions</h3>
     
      <div class="addUser">
        <a title="Add new Question" routerLink="/question/create/" class="btn btn-success mt-4 mb-2">Add</a>
      </div>
    
      
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Label</th>
            <th>category name</th>
            <th>Responses isCorrect</th>
            <th>Responses name</th>
            <th>Difficulty</th>
            <th width="220px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of questionData" style="background-color: #dee2e6; border-bottom: 1px solid white">
            <td>{{ data.label }}</td>
            <td>{{ data.category.name }}</td>
            <td>{{ data.responses.isCorrect }}</td>
            <td>{{ data.responses.label }}</td>
            <td>{{ data.difficulty }}</td>
            <td style="display: flex;">
              <a href="#" [routerLink]="['/question/', data.id, 'view']" class="btn btn-info btn-sm m-2">View</a>
              <a  [routerLink]="['/question/', data.id, 'edit']" class="btn btn-primary btn-sm m-2">Edit</a>
              <button type="button" (click)="deleteQuestion(data.id)" class="btn btn-danger btn-sm m-2">Delete</button>
            </td>
          </tr>
        </tbody>
      
       
      </table>
   </div>
   
