<div class="container "  *ngIf=" userData">

    <div class="card" style="width: 40rem;">
        <div class="card-body">
          <h3 class="card-title">User </h3>
         
          <p class="card-text">Email:{{ userData.email }} </p>
          <p class="card-text">Last Name:{{ userData.firstname }} </p>
          <p class="card-text">First Name:{{ userData.lastname }} </p>
          <p class="card-text">Role Name:{{ userData.role.roleName }} </p>
          <a routerLink="/user/index" class="btn btn-primary">Back</a>
        
        </div>
      </div>

</div>